{% extends "generic/object_list.html" %}

{% block breadcrumb %}{{ block.super }}{% endblock %}

{% block heading %}{{ title }}{% endblock %}

{% block extrahead %}<script type="text/javascript" src="{{ STATIC_URL }}js/dropdown_subjects.js"></script>{% endblock %}

{% block main %}
<ul class="thumbnails">
    {% for class in classes %}
        <li class="span3">
            <a class="thumbnail" {% block thumbnail_url %}{% endblock %}>
                <div>
                    <div class="caption clearfix">
                        <h4>{{ class.grade }} - {{ class.identification }}</h4>
                        <p class="pull-left">
                            <i>{{ class.students.count }} {% trans "students" %}</i>
                            {% block listing %}
                            {% endblock %}
                        </p>
                        {% block class_pk %}{% endblock %}
                    </div>
                </div>
            </a>
            {% block dropdown %}{% endblock %}
        </li>
    {% endfor %}

</ul>
{% endblock %}
