{% extends "modelview/object_list.html" %}

{% block breadcrumb %}{{ block.super }}{% endblock %}

{% block heading %}{{ title }}{% endblock %}

{% block main %}
<ul class="thumbnails">
    {% for class in classes %}
        <li class="span3">
            <a class="thumbnail" {% block thumbnail_url %}{% endblock %}>
                <div>
                    <div class="caption clearfix">
                        <h4>{{ class.grade }} - {{ class.identification }}</h4>
                        <p class="pull-left">
                            <i>{{ class.students.count }} {% trans "students" %}</i>
                            {% block listing %}
                            {% endblock %}
                        </p>
                        {% block class_pk %}{% endblock %}
                    </div>
                </div>
            </a>
            {% block dropdown %}{% endblock %}
        </li>
    {% endfor %}

</ul>

<script>
    $(function() {
        $('.period').css('float', 'right');
        $('a[name="subjects"]').click(function() {
            $obj = $(this);
            var class_pk = $obj.find('input.class_pk').val();
            request = $.ajax({
                type: "POST",
                url: "{% url 'get_subjects' %}",
                data: {'class_pk': class_pk, },
            });
            request.done(function( data ) {
                if ($obj.parent().find('ul#subjects').length > 0) {
                    $obj.parent().find('div.dropdown').empty();
                    return false;
                }
                if ($('#subjects')) {
                    $('#subjects').remove();
                }
                $ul = $('<ul>').attr({id: 'subjects', class: 'dropdown-menu',
                                     role: 'menu', ariaLabelledby: 'dLabel'});
                for (var i=0; i < data.length; i++) {
                    $li = $('<li>');
                    $a = $('<a>');
                    $li.attr('class', 'subject');
                    $li.css({fontSize: '14px', marginBottom: '0'});

                    $a.append(data[i][0]);
                    $a.attr('href', data[i][1]);

                    $li.append($a);
                    $ul.append($li);
                    $li.append($('<hr>').css('margin', '0 0 0 0'));
                    $ul.css({textAlign: 'center', display: 'block',
                            marginLeft: '-1px'});
                    $ul.addClass('span3');
                }
                $obj.parent().find('div.dropdown').append($ul);
            });
        });
    });
</script>

{% endblock %}
