{% extends "generic/object_list.html" %}

{% load i18n %}

{% block objects %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>{% trans "identification"|capfirst %}</th>
      <th>{% trans "period"|capfirst %}</th>
      <th>{% trans "grade"|capfirst %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <th><a href="{{ object.get_absolute_url }}">{{ object.identification }}</a></th>
      <td>{{ object.period }}</td>
      <td>{{ object.grade }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
