{% if "list" in type_class %}
<div class="{{ additional_classes|default_if_none:"" }} {% if item.field.required %}required {% endif %}{% if item.errors %}invalid {% endif %} {{ type_class }}">
    <label for="{{ item.auto_id }}">{{ item.label }}{% if item.field.required %}*{% endif %}
        {% if item.field.help_text %}<span class="help">({{ item.field.help_text }})</span>{% endif %}
    </label>
    {{ item }}
</div>
{% elif "hidden" in type_class %}
    {{ item }}
{% else %}
<div class="control-group {{ additional_classes|default_if_none:"" }} {% if item.field.required %}required {% endif %}{% if item.errors %}error {% endif %}">
  {% if not is_checkbox %}
    <label class="control-label" for="{{ item.auto_id }}">
      {% if item.field.required  %}
        <strong>{{ item.label }}</strong>
      {% else %}
        {{ item.label }}
      {% endif %}
    </label>
  {% endif %}

  <div class="controls">
    {% if is_checkbox %}
      <label class="{{ type_class }}" for="{{ item.auto_id }}">
        {{ item }} {{ item.label }}
      </label>
    {% else %}
      {{ item }}
    {% endif %}

    {% if item.errors %}
      <span class="help-inline">{{ item.errors.0 }}</span>
    {% endif %}

    {% if item.field.help_text %}
      <span class="help-block">{{ item.field.help_text }}</span>
    {% endif %}
  </div>
</div>
{% endif %}
