{% extends "modelview/object_list.html" %}

{% block main %}
<ul class="thumbnails">
  {% for class in class_rooms %}
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <div class="caption">
        <h3>{{ class.identification }} <small>{{ class.period }}</small></h3>
        <form method="post" action=".">{% csrf_token %}
          <p><i>{{ class.students.count }} {% trans "students" %}</i></p>
          <a href="{% url 'attendances_attendancebook_take_attendance' class.id %}"
             type="submit" class="btn btn-primary">{% trans 'Take attendance' %}</a>
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
