{% extends "classes/class_listing.html" %}
{% load attendances_tags %}

{% block thumbnail_url %} href="{% url "attendances-class" class.pk %}"{% endblock %}

{% block title %}{{ title }} - {{ current_school.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
  <li class="active">{{ title }}</li>
{% endblock %}

{% block listing %}
    {% with class|absent_students as abs_students %}
        <p class="attendance-label pull-right label label-{% if abs_students == class.students.count %}important{% elif abs_students %}warning{% else %}success{% endif%}">
            {% if abs_students == class.students.count %}
                {% trans "all absent"|capfirst %}
            {% elif abs_students %}
                {% blocktrans count counter=abs_students %}{{ counter }} absence{% plural %}{{ counter }} absences{% endblocktrans %}
            {% else %}
              {% trans "no absence"|capfirst %}
            {% endif %}
        </p>
    {% endwith %}
{% endblock %}
