{% extends "attendances/base.html" %}

{% load attendances_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
  function toggleAttendance(student_id) {
    var data = "{{ request.GET.urlencode }}" + "&student=" + student_id;
    $.ajax({
      url: "{% url 'attendances_attendancebook_take_attendance' classroom.id %}",
      method: "GET",
      data: data,
      cache: false
    });
    return false;
  }

  $(document).ready(function () {
    $('.switch').on('switch-change', function(e, data) {
      // TODO: switch only if success!
      var $el = $(data.el),
          value = data.value,
          student_id = $el[0].value;
      toggleAttendance(student_id);
    });
  });
</script>
{% endblock %}

{% block heading %}{{ block.super }}
<form class="form-horizontal pull-right" action=".">
  <input class="input-medium" type="date" name="day" value="{{ attendance_book.day|date:'Y-m-d' }}" />
  <button class="btn" type="submit"><i class="icon icon-refresh"></i></button>
</form>
{% endblock %}

{% block breadcrumb %}{{ block.super }}
  <li>
    <a href="{% url 'attendances_attendancebook_list' %}">{% trans 'Attendance books' %}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">{% trans 'Take attendance' %}</li>
{% endblock %}

{% block main %}
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>{% trans 'student'|capfirst %}</th>
    <th>{% trans 'status'|capfirst %}</th>
  </tr>
  {% for student in classroom.students.all %}
  <tr>
    <td>{{ student.id }}</td>
    <td>{{ student.get_full_name }}</td>
    <td>
      <div class="switch" data-on="success" data-off="danger"
           data-on-label="<i class='icon-ok icon-white'></i>"
           data-off-label="<i class='icon-remove'></i>">
        <input type="checkbox" value="{{ student.pk }}"
               {% if student|is_attendee:attendance_book %}checked{% endif %}/>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
