{% extends "attendances/base.html" %}

{% load attendances_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
  function ajaxChangeStatus(studentId, status) {
    var data = "{{ request.GET.urlencode }}" + "&status=" + status;
    $.ajax({
      url: studentId + "/change-status/",
      method: "GET",
      data: data,
      cache: false,
    });
    return false;
  }

  function ajaxSetExplanation(studentId) {
    var explanation = $('#explanation-' + studentId)[0].value,
        data = "{{ request.GET.urlencode }}" + "&explanation=" + explanation;
    $.ajax({
      url: studentId + "/set-explanation/",
      method: "GET",
      data: data,
      cache: false
    });
    $('#explanation-modal-' + studentId).modal('hide');
  }

  function toggleLateStatus(studentId) {
    var $attendance = $('.switch input[value="'+ studentId +'"]'),
        $lateButton = $('#late-' + studentId),
        status = null;

    if ($lateButton.hasClass('btn-warning')) {
      $lateButton.removeClass('btn-warning');
      $attendance.attr('data-is-late', false);
      status = 'present';
    } else {
      $lateButton.addClass('btn-warning');
      $attendance.attr('data-is-late', true);
      status = 'late';
    }

    if ($attendance.is(':checked')) {
      ajaxChangeStatus(studentId, status)
    } else {
      $attendance.parent().bootstrapSwitch('toggleState');
    }

    return false;
  }

  $(document).ready(function () {
    $('.switch').on('switch-change', function(e, data) {
      var $el = $(data.el),
          attendee = data.value,
          studentId = $el[0].value,
          isLate = $el.attr('data-is-late'),
          status = null;

      toggleAttendanceCallBack = false;
      if ($el.is(':checked') && isLate) {
        status = 'late';
      }
      else if ($el.is(':not(:checked)')) {
        $('#late-' + studentId).removeClass('active btn-warning');
        status = 'absent';
      } else {
        status = 'present';
      }

      ajaxChangeStatus(studentId, status);
    });

    $('input[name="day"]').on('change', function(event) {
      $(event.target).closest('form').submit();
    });
  });
</script>
{% endblock %}

{% block breadcrumb %}{{ block.super }}
  <li>
    <a href="{% url 'attendances_attendancebook_list' %}">{{ verbose_name_plural|capfirst }}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">{{ classroom }}</li>
{% endblock %}

{% block main %}
<form class="form-horizontal" action=".">
  <span class="input-append">
    <input class="input-medium" type="date" name="day" value="{{ attendance_book.day|date:'Y-m-d' }}" />
    <button class="btn btn-primary" type="submit" title="{% trans 'Change date' %}">
      &nbsp;<i class="icon-white icon-refresh"></i>&nbsp;
    </button>
  </span>
  <a class="btn" href="." title="{% trans 'Show today' %}">{% trans 'today'|capfirst %}</a>
</form>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>{% trans 'student'|capfirst %}</th>
    <th>{% trans 'attendance'|capfirst %}</th>
    <th>{% trans 'late'|capfirst %}</th>
    <th>{% trans 'explanation'|capfirst %}</th>
  </tr>
  {% for student in classroom.students.all %}
  <tr>
    <td>{{ student.id }}</td>
    <td>{{ student.get_full_name }}</td>
    <td>
      <div class="switch" data-on="success" data-off="danger"
           data-on-label="P" data-off-label="A">
        <input type="checkbox" value="{{ student.pk }}"
               {% if not student|is_absent:attendance_book %}checked{% endif %}/>
      </div>
    </td>
    <td>
      <button class="btn btn-large late{% if student|is_late:attendance_book %} active btn-warning{% endif %}" id="late-{{ student.id }}" type="button" data-toggle="button" onclick="toggleLateStatus({{ student.pk }})"><i class="icon icon-warning-sign"></i></button>
    </td>
    <td>
      <a href="#explanation-modal-{{ student.pk }}" role="button" class="btn" data-toggle="modal">
        <i class="icon icon-comment"></i></a>

      <div id="explanation-modal-{{ student.pk }}" class="modal hide fade" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>{% blocktrans with student_name=student.first_name%}{{ student_name }}'s explanation{% endblocktrans %}</h3>
        </div>
        <div class="modal-body">
          <textarea id="explanation-{{ student.pk }}" style="width:100%; height:140px">{% get_student_explanation %}</textarea>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
          <button class="btn btn-primary" onclick="ajaxSetExplanation({{ student.pk }});">{% trans 'Save' %}</button>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
