{% extends 'registration/base.html' %}

{% block title %}{% trans 'Change password' %} - {{ block.super }}{% endblock %}
{% block heading %}{% trans 'Change password' %}{% endblock %}

{% block breadcrumb %}{{ block.super }}
  <li class="active">{% trans 'Change password' %}</li>
{% endblock %}

{% block main %}
  <form method="post" action="." class="form-horizontal">{% csrf_token %}
    <legend>{% blocktrans with username=user.username %}User "{{ username }}"{% endblocktrans %}</legend>
    {{ form }}
    <div class="form-actions">
      <a href=".." class="btn">{% trans 'Cancel' %}</a>
      <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}
