{% extends "classes/class_listing.html" %}

{% block title %}{{ title }} - {{ current_school.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li class="active">{% trans 'Scores' %}</li>
{% endblock%}

{% block thumbnail_url %}name="subjects" title="{% trans "Click to choose a subject" %}" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="dLabel" role="button"{% endblock %}
{% block extra_out_p %}
    <span class="caret"></span>
    <input type="hidden" value="{{ class.pk }}" class="class_pk" />
{% endblock %}

{% block dropdown %}
{% include "subjects/includes/dropdown.html" with li_link="True" %}
{% endblock %}
