<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{{ current_school.name }}{% endblock %}</title>
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
    <script src="{{ STATIC_URL }}js/holder.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
    <script src="{{ STATIC_URL }}js/csrf_ajax.js"></script>

    <!-- CSS to fix margin between content and navigation bar            -->
    <!-- Must be before bootstrap.css to work properly in small displays -->
    <style type="text/css" media="screen">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
      .sidebar-nav {
          padding: 9px 0;
      }

      @media (max-width: 980px) {
          /* Enable use of floated navbar text */
          .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
          }
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapSwitch.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" media="screen">
    {% block extrahead %}{% endblock%}
  </head>
  <body>
  {% block body %}
    <div class="navbar navbar-fixed-top">
      {% include 'includes/navbar.html' %}
    </div>

    <div class="container">
      <div class="row">
        {% block content %}
          <!--div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                {% block sidebar %}
                  <li class="nav-header">Sidebar</li>
                  <li class="active"><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li class="nav-header">Sidebar</li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                {% endblock %}
              </ul>
            </div>
          </div-->

          <div class="span12">
            <ul class="breadcrumb">
              {% block breadcrumb %}
              <li><a href="/">{% trans 'Home' %}</a> <span class="divider">/</span></li>
              {% endblock %}
            </ul>

            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div class="page-header">
              <h2 id="header">{% block heading %}{{ title }}{% endblock %}</h2>
            <h3 id="subheader">{% block subheading %}{{ subtitle }}{% endblock %}</h3>
            </div>

            <div class="page-body">
              {% block main %}{% endblock %}
            </div>
          </div>
        {% endblock %}
      </div>

      <hr>

      <footer class="footer muted">
        <p class="pull-right"><a href="#">{% trans 'Back to top' %}</a></p>
        <p>&copy; Tracy 2013</p>
      </footer>
    </div>
  {% endblock %}
  </body>
</html>
