@media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
#no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
    display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
 
#no-more-tables tr { border: 1px solid #ccc; }

#no-more-tables td {
    padding-left: 50%;
    text-align: left;
    border-bottom: 1px solid #eee;
    height: 2.5em;
}
 
#no-more-tables th {
    border-bottom: 1px solid #CCC;
    text-align: center;
    background-color: #EEE;
}

/* Behave like a "row" */
#no-more-tables td, #no-more-tables th {
    position: relative;
    white-space: normal;
    width: auto;
}

#no-more-tables td:before, #no-more-tables th:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
}
 
/* Label the data */
#no-more-tables td:before {
    content: attr(data-title);
    margin-top: 0.25em;
}
}
