/* Fix small input issue in bootstrap */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 30px;
}

/* h1 is the name of the school and will always be in the navbar*/
h1 {
  margin: 0;
  line-height: inherit;
}

.btn-with-label {
  padding: 3px 5px;
}

.btn-with-label .icon {
  margin: 0;
}

.btn-with-label p {
  font-size: 11px;
  line-height: 11px;
  margin: 0;
}

a.thumbnail {
  text-decoration: none;
}

.has-comment {
  line-height: 10px;
  font-size: 15px;
  vertical-align: top;
  font-weight: bold;
}

.no-comment {
  display: none;
}

.attendance-label {
  min-width: 100px;
  text-align: center;
}

#attendance-table td {
  line-height: 20px;
  vertical-align: middle;
}

#attendance-table div.actions {
  margin: -5px 0;
}

#attendance-table .btn-group,
#attendance-table .switch {
  vertical-align: middle;
  margin: 5px;
}

/* Scores */

.period {
  float: right;
}

ul.list_subjects {
  text-align: center;
  display: none;
  margin-left: -1px;
}

li.subject {
  font-size: 14px;
  margin-bottom: 0px;
}

li.subject a {
  line-height: 2.5em;
  vertical-align: bottom;
}

li.subject hr {
  margin: 0 0 0 0;
}

#class-list .caret {
  float: right;
  position: relative;
  margin-top: 25px;
}

h2#header {
  display: inline;
}

h3#subheader {
  display: inline;
  color: #C2C2C2;
}

p#formula {
  text-align: right;
  margin: -10px 0 10px 0;
}

.scores {
  width: 50px;
}

.average {
  width: 50px;
}

input:invalid {
  border: 1px solid #ff0000;
}

/* Timetables */

span.timetable {
    display: inline-block;
    float: none;
}

input.times {
    width: 140px;
}

.timetable a.remove_timetable {
    display: none;
    float: right;
}

.timetable:hover a.remove_timetable {
    display: block;
    float: right;
    margin: 3px 3px 0 0;
}

td.timetable_subjects_list {
    padding: 0 8px;
    line-height: 36px;
}

a.timetable_subjects {
    text-decoration: none;
}

/* Calendar */

.calendar th, .calendar td { text-align: center }
.calendar .day { padding:0; width:14.2857142857% }
.calendar .day a, .calendar .day span { padding:12px 8px; display:block; }
.calendar .day a:hover {
  padding: 11px 7px;
  border: 1px solid #0088cc;
  text-decoration: none;
  cursor: pointer;
}
.calendar .today a { font-weight: bold; }
.calendar .break a { background-color: #fcf8e3; }
.calendar .weekend { background-color: #f6f6f6 }

.calendar .popover { width: 210px }
.calendar .popover button, .calendar .popover textarea { width: 100% }
.calendar .popover-title { font-weight: bold; text-align: center; }
