/* Fix small input issue in bootstrap */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 30px;
}

/* h1 is the name of the school and will always be in the navbar*/
h1 {
  margin: 0;
  line-height: inherit;
}

.btn-with-label {
  padding: 3px 5px;
}

.btn-with-label .icon {
  margin: 0;
}

.btn-with-label p {
  font-size: 11px;
  line-height: 11px;
  margin: 0;
}

a.thumbnail {
  text-decoration: none;
}

.has-comment {
  line-height: 10px;
  font-size: 15px;
  vertical-align: top;
  font-weight: bold;
}

.no-comment {
  display: none;
}
