<div id="sub-header" class="navbar-inner">
  <div id="menu-wrapper" class="span3">
    <button id="menu" class='btn btn-small btn-info'>Menu <b class="caret"></b></button>
  </div>
  <!-- Bloco breadcrumbs -->
  <ul class="span9 breadcrumb">
    <li><a href="#">Home</a> <i class="icon-chevron-right"></i></li>
    <li><a href="#">Notas</a> <i class="icon-chevron-right"></i></li>
    <li><a href="#">1o Bimestre</a> <i class="icon-chevron-right"></i></li>
    <li><a href="#">Prova 1</a> <i class="icon-chevron-right"></i></li>
    <li><a href="#">4a. Série A</a> <i class="icon-chevron-right"></i></li>
    <li class="active">Ciências</li>
  </ul>
</div>
