<!-- Bloco User -->
<div id="user" class="navbar-block">
  <div class="dropdown">
    <a id="user-menu" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
    <img id="avatar" data-src="holder.js/50x50">
    Jose Fulano da Silva de Alcantara<b class="caret"></b></a>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-menu">
      <li role="presentation"><a role="menu-item">Profile</a></li>
      <li role="presentation"><a role="menu-item">Settings</a></li>
      <li role="presentation"><a role="menu-item">Logout</a></li>
    </ul>
  </div>
</div>
