{% extends "base.html" %}

{% block extrahead %}
    <script type="text/javascript">
        var START = "{% trans 'Start' %}";
        var END = "{% trans 'End' %}";
        var UPDATE_TIMETABLE_NAME_URL = "{% url 'update_timetable' %}";
        var UPDATE_TIMES_URL = "{% url 'update_times' %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timetables.js"></script>
{% endblock %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li>
        <a href="{% url 'school_timetables' %}">{% trans 'timetables'|capfirst %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans 'add'|capfirst %} {{ title }}</li>
{% endblock %}

{% block heading %}{{ title }}{% endblock %}

{% block main %}
    <label>{% trans 'name'|capfirst %}</label><input type="text" id="timetable_name" placeholder="{% trans 'timetable name'|capfirst %}"></input>
    <br />
    <a href="#" id="add_new_line"><i class="icon-plus-sign"></i></a>
    <ul class="unstyled" id="timetable_list">
        <li>
            <span class="span2 timetable">{% trans 'Start' %}</span>
            <span class="span2 timetable">{% trans 'End' %}</span>
        </li>
        <li class="start_end">
            <span class="span2 timetable">
                <input type="time" class="times timetable" placeholder="{% trans 'Start' %}" pattern="[0-2][0-9]:[0-6][0-9]" />
            </span>
            <span class="span2 timetable">
                <input type="time" class="times timetable" placeholder="{% trans 'End' %}" pattern="[0-2][0-9]:[0-6][0-9]" />
            </span>
        </li>
    </ul>
{% endblock %}
