{% extends "base.html" %}
{% block title %}{% trans 'link timetable'|capfirst %} - {{ block.super }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        var URL_APPLY_CLASSTIMETABLE="{% url 'apply_classtimetable' %}";
        var CLASSROOM_PK="{{ class.pk }}";
        var CLASS_TIMETABLE_URL="{{ class_timetable_url }}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timetables.js"></script>
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li>
        <a href="{% url 'list_classes_for_timetables' %}">{% trans 'class timetables'|capfirst %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans 'link timetable'|capfirst %}</li>
{% endblock %}

{% block main %}
    {% if class_timetable_url %}
        <h4>{% trans "choose a timetable to change"|capfirst %}</h4>
    {% else %}
        <h4>{% trans "oops... You didn't link a timetable to this class yet"|capfirst %}</h4>
        <h5>{% trans "choose a timetable for this class"|capfirst %}.</h5>
    {% endif %}
    {% include "timetables/includes/timetables_list.html" %}
    <h6><a href="{% url 'add_timetable' %}">{% trans "or click here to create one"|capfirst %}.</a></h6>
{% endblock %}
