{% extends "base.html" %}

{% block title %}{{ title }} - {{ subtitle }} - {{ block.super }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        var UPDATE_CLASSSUBJECT_TIME = "{% url 'update_class_subject_time' %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dropdown_subjects_for_timetable.js">
    </script>
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li>
        <a href="{% url 'list_classes_for_timetables' %}">{% trans 'class timetables'|capfirst %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ title }} - {{ subtitle }}</li>
{% endblock %}

{% block main %}
<table class="table table-bordered table-hover timetable_for_class">
    <thead>
        <tr>
            <th id="{{ class.pk }}">{{ class }}</th>
            {% for abbr, day in days %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% if times %}
        {% for time in times %}
            <tr>
                <td class="timetable_subjects_list time" id="{{ time.time.pk }}">{{ time.time.start }} - {{ time.time.end }}</td>
                {% for class_subject_time_pk, abbr, subject in time.subjects %}
                    <td class="timetable_subjects_list listing_subjects" {% if class_subject_time_pk %}id="{{ class_subject_time_pk }}"{% endif %}>
                        <a class="dropdown-toggle timetable_subjects" data-toggle="dropdown" data-target="#" id="dLabel" role="button" name="subjects" title="{% trans 'Click to choose a subject' %}" href="#" rel="{{ abbr }}">
                            <div class="caption clearfix">{% if subject %}{{ subject }}{% else %}&nbsp;{% endif %}</div>
                        </a>
                        {% include "subjects/includes/dropdown.html" with li_link="False" %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}
