{% extends "base.html" %}

{% block title %}{% trans 'no timetables available'|capfirst %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li>
        <a href="{% url 'list_classes_for_timetables' %}">{% trans 'class timetables'|capfirst %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans 'no timetables available'|capfirst %}</li>
{% endblock %}

{% block main %}
    <h4>{% trans "oops...You don't have a timetable yet"|capfirst %}</h4>
    <h5><a href="{% url 'add_timetable' %}">{% trans 'click here to create one'|capfirst %}.</a></h5>
{% endblock %}
