{% extends "base.html" %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        var REMOVE_TIMETABLE = "{% url 'remove_timetable' %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/timetables.js"></script>
{% endblock %}
{% block breadcrumb %}{{ block.super }}
    <li class="active">{{ title }}</li>
{% endblock %}

{% block main %}
    <ul class="thumbnails" id="timetable_list">
        <li class="span3">
            <a class="thumbnail" href="{% url 'add_timetable' %}">
                <div>
                    <div class="caption clearfix">
                        <h4>{% trans 'Add timetable' %}</h4>
                    </div>
                </div>
            </a>
        </li>
        {% for timetable in timetables %}
            {% if timetable.slug %}
                <li class="span3 timetable">
                    <a href="#" class="remove_timetable">
                        <i class="icon-remove"></i>
                    </a>
                    <a class="thumbnail timetable_url" href="{% if timetable.slug %}{% url 'edit_timetable' timetable.slug %}{% endif %}" id="timetable_{{ timetable.pk }}">
                    <div>
                        <div class="caption clearfix">
                            <h4>{{ timetable }}</h4>
                        </div>
                    </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
