{% extends base_template|default:"base.html" %}

{% load i18n modelview_detail %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
  <li><a href="{{ list_url }}">{{ verbose_name_plural|capfirst }}</a> <span class="divider">/</span></li>
  <li class="active">{{ object }}</li>
{% endblock %}

{% block heading %}{{ object }}{% endblock %}

{% block main %}
<table>
{% for title, value in object|model_details %}
    <tr class="{% cycle "odd" "even" %}">
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<div class="form-actions">
    <a class="btn btn-danger" href="delete/" class="button">{% trans "delete"|capfirst %}</a>
    <a class="btn" href="edit/"class="button">{% trans "edit"|capfirst %}</a>
</div>
{% endblock %}
